
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
  }
  .accordion-content { display: none; margin-top: 10px; }
  .accordion-button { cursor: pointer; font-weight: bold; margin-top: 10px; }
  .sidebar {
    width: 30%;
    background-color: rgb(6, 121, 159);
    color: white;
    padding-left: 200px ;
    color: white
    ;
  }
  .photo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
  }
  .sidebar h3 {
    margin-bottom: 10px;
    color: #f4f4f4;
  }
  .sidebar p, .sidebar a {
    font-size: 14px;
    color: white;
    text-decoration: none;
  }
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  .sidebar ul li {
    margin-bottom: 8px;
  }
  .content {
    width: 70%;
    padding: 30px;
    background-color: #f4f4f4;
  }
  .content h1 {
    color: #1f3558;
  }
  .content h1 span {
    font-weight: normal;
    color: #34495e;
  }
  .section {
    margin-top: 30px;
  }
  .section h2 {
    color: #1f3558;
    border-bottom: 2px solid #1f3558;
    padding-bottom: 5px;
  }
  .t…ôqdim h3 {
    margin: 5px 0;
  }